.comment--card {
    border-top: 2px solid var(--gray-300);
}

.comment--card__header{
    margin: 0.75rem 0rem;
    font-size: 16px;
}

.comment--card__footer{
    display: flex;
    margin: 0.75rem 0rem;
    justify-content: space-between;
    font-size: 12px;
}

.comment--card__button-trash{
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 50px;
    padding: 6px;
    background: #757575;
    text-align: center;

}